* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    overflow: auto;
}

img {
    object-fit: cover;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: white !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #333;
}
  
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-logo {
    width: 120px;
}

.container-fluid {
    width:100%;
    align-content: center;
    /* max-height: 800px; */
}

.carousel {
    max-height: 60%;
}

.carousel-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:0px;
}

.carousel.slide {
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    max-height: 850px;
    
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* max-height: 60%; */
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width:100%;
    max-height: 850px;
}

.home-title {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.input-group {
    border-radius: 5%;
}

#Search {
    background-color: rgb(239, 239, 239);
}

.information-container {
    width: 90%;
    height: 200px;
    text-align: center;
    margin-top: 20px;
}

.information-card {
    height: 200px;
    border: 1px black;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    width: 50%;
    margin: auto;
    text-align: center;
}

.footer-photo {
    width:50px;
    height: auto;
    border-radius: 100%;
    margin: 10px;
}

.footer-photo:hover {
    width: 53px;
}

.footer-copyright {
    font-family: Helvetica, Arial, sans-serif;
}

/* Mobile Styles */
@media only screen and (max-width: 960px) {
    .container-fluid {
        width:100%;
        align-content: center;
        max-height: 300px;
    }
    .carousel.slide {
        max-height: 300px;
    }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #navbarNav {
        justify-content: right;
    }

    .navbar-logo {
        width: 25%;
    }

    .home-title {
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }

    .information-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .information-card {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer {
        /*TODO: PUSH TO BOTTOM OF PAGE JAVASCRIPT*/
    }
}